# Pandas Tasks

In the task below, you will practice what you have learnt in the pandas tutorial.

## Task 1

#### Question 1. Identify two ways of creating a pandas DataFrame and create a dataframe with ten columns and twenty rows for each way

In [3]:
#Creating pandas DataFrame using dictionaries
import pandas as pd
data = {'Name': ['Sebastian', 'Ama', 'Hannah', 'John', 'Gloria', 'Ben', 'Ben', 'Ben', 'Ben', 'Ben', 'Ben', 'Ben', 'Ben', 'Ben', 'Ben', 'Ben', 'Ben', 'Ben', 'Ben', 'Ben'],
       'Age': [24,23,20,21,28,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25],
        'Gender': ['Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male'],
       'Country': ['Ghana', 'Togo', 'Congo', 'Benin', 'Morocco', 'Kenya', 'Kenya', 'Kenya', 'Kenya', 'Kenya', 'Kenya', 'Kenya', 'Kenya', 'Kenya', 'Kenya', 'Kenya', 'Kenya', 'Kenya', 'Kenya', 'Kenya'],
       'Univeristy': ['Ashesi University', 'Togo University', 'Congo University','Benin University', 'oguan University', 'Kenyatta University', 'Kenyatta University', 'Kenyatta University', 'Kenyatta University', 'Kenyatta University', 'Kenyatta University', 'Kenyatta University', 'Kenyatta University', 'Kenyatta University', 'Kenyatta University', 'Kenyatta University', 'Kenyatta University', 'Kenyatta University', 'Kenyatta University', 'Kenyatta University'],
       'Field of Study': ['Computer Science', 'Maths and Computer Science', 'Telecommunication Engineering', 'Information Technology', 'Statistics', 'Business Computing', 'Business Computing', 'Business Computing', 'Business Computing', 'Business Computing', 'Business Computing', 'Business Computing', 'Business Computing', 'Business Computing', 'Business Computing', 'Business Computing', 'Business Computing', 'Business Computing', 'Business Computing', 'Business Computing'],
       'Graduation Year': ['2020', '2019', '2019' , '2020', '2019', '2019', '2019', '2019', '2019', '2019', '2019', '2019', '2019', '2019', '2019', '2019', '2019', '2019', '2019', '2019'],
       'Honors': ['First', 'Second Upper', 'First', 'Second Lower', 'Second Lower', 'Second Lower', 'Second Lower', 'Second Lower', 'Second Lower', 'Second Lower', 'Second Lower', 'Second Lower', 'Second Lower', 'Second Lower', 'Second Lower', 'Second Lower', 'Second Lower', 'Second Lower', 'Second Lower', 'Second Lower'],
       'Email Address': ['sebastian@gmil.com', 'ana@gmail.com', 'ana@gmail.com', 'ana@gmail.com', 'ana@gmail.com', 'ana@gmail.com', 'ana@gmail.com', 'ana@gmail.com', 'ana@gmail.com', 'ana@gmail.com', 'ana@gmail.com', 'ana@gmail.com', 'ana@gmail.com', 'ana@gmail.com', 'ana@gmail.com', 'ana@gmail.com', 'ana@gmail.com', 'ana@gmail.com', 'ana@gmail.com', 'ana@gmail.com'],
       'Phone Number': ['0724789657', '0735479861', '0716975482', '0716975482', '0716975482', '0716975482', '0716975482', '0716975482', '0716975482', '0716975482', '0716975482', '0716975482', '0716975482', '0716975482', '0716975482', '0716975482', '0716975482', '0716975482', '0716975482', '0716975482']}

dataFrame1 = pd.DataFrame(data)
dataFrame1

,Name,Age,Gender,Country,Univeristy,Field of Study,Graduation Year,Honors,Email Address,Phone Number
0,Sebastian,24,Male,Ghana,Ashesi University,Computer Science,2020,First,sebastian@gmil.com,0724789657
1,Ama,23,Male,Togo,Togo University,Maths and Computer Science,2019,Second Upper,ana@gmail.com,0735479861
2,Hannah,20,Female,Congo,Congo University,Telecommunication Engineering,2019,First,ana@gmail.com,0716975482
3,John,21,Male,Benin,Benin University,Information Technology,2020,Second Lower,ana@gmail.com,0716975482
4,Gloria,28,Female,Morocco,oguan University,Statistics,2019,Second Lower,ana@gmail.com,0716975482
5,Ben,25,Male,Kenya,Kenyatta University,Business Computing,2019,Second Lower,ana@gmail.com,0716975482
6,Ben,25,Male,Kenya,Kenyatta University,Business Computing,2019,Second Lower,ana@gmail.com,0716975482
7,Ben,25,Male,Kenya,Kenyatta University,Business Computing,2019,Second Lower,ana@gmail.com,0716975482
8,Ben,25,Male,Kenya,Kenyatta University,Business Computing,2019,Second Lower,ana@gmail.com,0716975482
9,Ben,25,Male,Kenya,Kenyatta University,Business Computing,2019,Second Lower,ana@gmail.com,0716975482
10,Ben,25,Male,Kenya,Kenyatta University,Business Computing,2019,Second Lower,ana@gmail.com,0716975482
11,Ben,25,Male,Kenya,Kenyatta University,Business Computing,2019,Second Lower,ana@gmail.com,0716975482
12,Ben,25,Male,Kenya,Kenyatta University,Business Computing,2019,Second Lower,ana@gmail.com,0716975482
13,Ben,25,Male,Kenya,Kenyatta University,Business Computing,2019,Second Lower,ana@gmail.com,0716975482
14,Ben,25,Male,Kenya,Kenyatta University,Business Computing,2019,Second Lower,ana@gmail.com,0716975482
15,Ben,25,Male,Kenya,Kenyatta University,Business Computing,2019,Second Lower,ana@gmail.com,0716975482
16,Ben,25,Male,Kenya,Kenyatta University,Business Computing,2019,Second Lower,ana@gmail.com,0716975482
17,Ben,25,Male,Kenya,Kenyatta University,Business Computing,2019,Second Lower,ana@gmail.com,0716975482
18,Ben,25,Male,Kenya,Kenyatta University,Business Computing,2019,Second Lower,ana@gmail.com,0716975482
19,Ben,25,Male,Kenya,Kenyatta University,Business Computing,2019,Second Lower,ana@gmail.com,0716975482

In [9]:
#Creating an empty dataframe with columns and appending all rows as list to the end of the dataframe
dataFrame2 = pd.DataFrame(columns=["Name", "Age", "Gender" "Country", "University","Field of Study","Graduation Year", "Honors", "Email Address", "Phone Number"])
dataFrame2.loc[len(dataFrame2)] =  ["Sebastian", "24", "Male" "Ghana", "Ashesi University", "Computer Science", "2020", "First", "sebastian@gmail.com", "0715698745"]
dataFrame2.loc[len(dataFrame2)] =  ["Ama", "23", "Male" "Togo", "Togo University", "Maths and Computer Science", "2019", "Second Upper", "ama@gmail.com", "0737945865"]
dataFrame2.loc[len(dataFrame2)] =  ["John", "21", "Male" "Benin", "Benin University", "Information Technology", "2020", "Second Lower", "john@gmail.com", "0727854961"]
dataFrame2.loc[len(dataFrame2)] =  ["Gloria", "28", "Female" "Morocco", "Loguan University", "Statistics", "2019", "Second Upper", "gloria@gmail.com", "0716497852"]
dataFrame2.loc[len(dataFrame2)] =  ["Ben", "25", "Male" "Kenya", "Kenyatta University", "Business Computing", "2019", "Second Lower", "ben@gmail.com", "07964785123"]
dataFrame2.loc[len(dataFrame2)] =  ["Sebastian", "24", "Male" "Ghana", "Ashesi University", "Computer Science", "2020", "First", "sebastian@gmail.com", "0715698745"]
dataFrame2.loc[len(dataFrame2)] =  ["Sebastian", "24", "Male" "Ghana", "Ashesi University", "Computer Science", "2020", "First", "sebastian@gmail.com", "0715698745"]
dataFrame2.loc[len(dataFrame2)] =  ["Sebastian", "24", "Male" "Ghana", "Ashesi University", "Computer Science", "2020", "First", "sebastian@gmail.com", "0715698745"]
dataFrame2.loc[len(dataFrame2)] =  ["Sebastian", "24", "Male" "Ghana", "Ashesi University", "Computer Science", "2020", "First", "sebastian@gmail.com", "0715698745"]
dataFrame2.loc[len(dataFrame2)] =  ["Sebastian", "24", "Male" "Ghana", "Ashesi University", "Computer Science", "2020", "First", "sebastian@gmail.com", "0715698745"]
dataFrame2.loc[len(dataFrame2)] =  ["Sebastian", "24", "Male" "Ghana", "Ashesi University", "Computer Science", "2020", "First", "sebastian@gmail.com", "0715698745"]
dataFrame2.loc[len(dataFrame2)] =  ["Sebastian", "24", "Male" "Ghana", "Ashesi University", "Computer Science", "2020", "First", "sebastian@gmail.com", "0715698745"]
dataFrame2.loc[len(dataFrame2)] =  ["Sebastian", "24", "Male" "Ghana", "Ashesi University", "Computer Science", "2020", "First", "sebastian@gmail.com", "0715698745"]
dataFrame2.loc[len(dataFrame2)] =  ["Sebastian", "24", "Male" "Ghana", "Ashesi University", "Computer Science", "2020", "First", "sebastian@gmail.com", "0715698745"]
dataFrame2.loc[len(dataFrame2)] =  ["Sebastian", "24", "Male" "Ghana", "Ashesi University", "Computer Science", "2020", "First", "sebastian@gmail.com", "0715698745"]
dataFrame2.loc[len(dataFrame2)] =  ["Sebastian", "24", "Male" "Ghana", "Ashesi University", "Computer Science", "2020", "First", "sebastian@gmail.com", "0715698745"]
dataFrame2.loc[len(dataFrame2)] =  ["Sebastian", "24", "Male" "Ghana", "Ashesi University", "Computer Science", "2020", "First", "sebastian@gmail.com", "0715698745"]
dataFrame2.loc[len(dataFrame2)] =  ["Sebastian", "24", "Male" "Ghana", "Ashesi University", "Computer Science", "2020", "First", "sebastian@gmail.com", "0715698745"]
dataFrame2.loc[len(dataFrame2)] =  ["Sebastian", "24", "Male" "Ghana", "Ashesi University", "Computer Science", "2020", "First", "sebastian@gmail.com", "0715698745"]
dataFrame2.loc[len(dataFrame2)] =  ["Sebastian", "24", "Male" "Ghana", "Ashesi University", "Computer Science", "2020", "First", "sebastian@gmail.com", "0715698745"]
dataFrame2

,Name,Age,GenderCountry,University,Field of Study,Graduation Year,Honors,Email Address,Phone Number
0,Sebastian,24,MaleGhana,Ashesi University,Computer Science,2020,First,sebastian@gmail.com,0715698745
1,Ama,23,MaleTogo,Togo University,Maths and Computer Science,2019,Second Upper,ama@gmail.com,0737945865
2,John,21,MaleBenin,Benin University,Information Technology,2020,Second Lower,john@gmail.com,0727854961
3,Gloria,28,FemaleMorocco,Loguan University,Statistics,2019,Second Upper,gloria@gmail.com,0716497852
4,Ben,25,MaleKenya,Kenyatta University,Business Computing,2019,Second Lower,ben@gmail.com,07964785123
5,Sebastian,24,MaleGhana,Ashesi University,Computer Science,2020,First,sebastian@gmail.com,0715698745
6,Sebastian,24,MaleGhana,Ashesi University,Computer Science,2020,First,sebastian@gmail.com,0715698745
7,Sebastian,24,MaleGhana,Ashesi University,Computer Science,2020,First,sebastian@gmail.com,0715698745
8,Sebastian,24,MaleGhana,Ashesi University,Computer Science,2020,First,sebastian@gmail.com,0715698745
9,Sebastian,24,MaleGhana,Ashesi University,Computer Science,2020,First,sebastian@gmail.com,0715698745
10,Sebastian,24,MaleGhana,Ashesi University,Computer Science,2020,First,sebastian@gmail.com,0715698745
11,Sebastian,24,MaleGhana,Ashesi University,Computer Science,2020,First,sebastian@gmail.com,0715698745
12,Sebastian,24,MaleGhana,Ashesi University,Computer Science,2020,First,sebastian@gmail.com,0715698745
13,Sebastian,24,MaleGhana,Ashesi University,Computer Science,2020,First,sebastian@gmail.com,0715698745
14,Sebastian,24,MaleGhana,Ashesi University,Computer Science,2020,First,sebastian@gmail.com,0715698745
15,Sebastian,24,MaleGhana,Ashesi University,Computer Science,2020,First,sebastian@gmail.com,0715698745
16,Sebastian,24,MaleGhana,Ashesi University,Computer Science,2020,First,sebastian@gmail.com,0715698745
17,Sebastian,24,MaleGhana,Ashesi University,Computer Science,2020,First,sebastian@gmail.com,0715698745
18,Sebastian,24,MaleGhana,Ashesi University,Computer Science,2020,First,sebastian@gmail.com,0715698745
19,Sebastian,24,MaleGhana,Ashesi University,Computer Science,2020,First,sebastian@gmail.com,0715698745

#### Question 2. Show a summary of your dataframe with column names, non null count and dtypes for the columns

In [6]:
dataFrame1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             20 non-null     object
 1   Age              20 non-null     int64
 2   Gender           20 non-null     object
 3   Country          20 non-null     object
 4   Univeristy       20 non-null     object
 5   Field of Study   20 non-null     object
 6   Graduation Year  20 non-null     object
 7   Honors           20 non-null     object
 8   Email Address    20 non-null     object
 9   Phone Number     20 non-null     object
dtypes: int64(1), object(9)
memory usage: 1.7+ KB

#### Question 3. Again show a summary of your dataframe, this time, showing the mean, count, standard deviation, minimum number etc for all the numerical columns

In [7]:
dataFrame1.describe()

             Age
count  20.000000
mean   24.550000
std     1.637553
min    20.000000
25%    25.000000
50%    25.000000
75%    25.000000
max    28.000000

#### Question 4. Show the number of unique values in all the columns in your dataframe

In [8]:
dataFrame1.nunique()

Name               6
Age                6
Gender             2
Country            6
Univeristy         6
Field of Study     6
Graduation Year    2
Honors             3
Email Address      2
Phone Number       3
dtype: int64